#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background:#222;
}

.enter {
    display: block;
    border: 0;
    width: 20vmin;
    height: 20vmin;
    position: fixed;
    left: calc(50% - 10vmin );
    top: calc(50% - 10vmin );
    font: inherit;
    font-weight: 500;
    cursor: pointer;
    background: none;
    padding: 0;
    z-index: 100;
}


.enter:focus,
.enter:hover,
.enter:active {
	outline: none;
}

.circle_enter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
	color:#fff;
	line-height:calc(10vmin - 50%);
	opacity:.8;
}


.enter__text {
	position: relative;
}


.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	padding: 2rem;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.js .content {
	opacity: 0;
}

.content p {
	font-size: 2rem;
	font-size: clamp(1.25rem,6vw,2.15rem);
	line-height: 1.25;
	max-width: 900px;
	margin: 0;

	will-change: transform;
}

.circles {
	position: fixed;
	 --dim: 186vmin;
	width: var(--dim);
	height: var(--dim);
	top: calc(50% - var(--dim) / 2 );
	left: calc(50% - var(--dim) / 2 );
}

.demo-3 .circles {
	--dim: 206vmin;
}

.circles__text {

	transform-origin: 700px 700px;
	will-change: transform, opacity;
}



.circles__text--1 , .circles__text--3 {
	font-family:"font1";
	fill: #fff;
	font-size: 5vmin;
}

.circles__text--2 , .circles__text--4 {
	font-family:"font1";
	fill: #777;
	font-size: 1.6vmin;

}