@media (max-aspect-ratio: 1/1) {

	.divider {
		width: 1px;
	}


	#header_top {
		-webkit-text-stroke: 1px #fff;
		font-size: 18.25em;
		letter-spacing: -.005em;
	}

	#header_top span {
		line-height: 1.1em;
	}

    .list_item_text {
        padding: 0.8em 2em;
    }






	#header_tagline {
		padding: 8vh 0 2vh;
		font-size: 3em;
	}

    .divider {
        height: 20vh;
    }

    .list_item_text::before {
        display:none;
    }

    #link {
        -webkit-text-stroke: 1px #fff;
    }

    #shadow_links_container {
        -webkit-text-stroke: 1px #fff;
    }

    #link_container {
        margin-top: .1em;
        font-size:2.6em;
    }

    
	.line:nth-of-type(1) {
		left:16.666vw;
	}
	
	.line:nth-of-type(2) {
		left:33.33333vw;
	}
	
	.line:nth-of-type(3) {
		left:50vw;
	}
	
	.line:nth-of-type(4) {
		left:66.666vw;
	}
	
	.line:nth-of-type(5) {
		left:83.333vw;
	}
	
	.line:nth-of-type(6) {
		left:60vw;
        display:none;
	}
	
	.line:nth-of-type(7) {
		left:70vw;
        display:none;
	}
	
	.line:nth-of-type(8) {
		left:80vw;
        display:none;
	}
	
	.line:nth-of-type(9) {
		left:90vw;
        display:none;
	}
    

	#credits {
		font-size: 2em;
	}

}