@media (max-aspect-ratio: 1/1) {

    .list_item_text {
        padding: 0.8em 2em;
    }

    .divider {
        height: 25vh;
    }

    .list_item_text::before {
        display:none;
    }

    #link {
        -webkit-text-stroke: 1px #fff;
    }

	.line:nth-of-type(1) {
		left:10vw;
	}
	
	.line:nth-of-type(2) {
		left:20vw;
	}
	
	.line:nth-of-type(3) {
		left:30vw;
	}
	
	.line:nth-of-type(4) {
		left:40vw;
	}
	
	.line:nth-of-type(5) {
		left:50vw;
	}
	
	.line:nth-of-type(6) {
		left:60vw;
        display:none;
	}
	
	.line:nth-of-type(7) {
		left:70vw;
        display:none;
	}
	
	.line:nth-of-type(8) {
		left:80vw;
        display:none;
	}
	
	.line:nth-of-type(9) {
		left:90vw;
        display:none;
	}
    

}