@media (max-aspect-ratio: 1/1) {

    .list_item_text {
        padding: 0.8em 2em;
    }

    .divider {
        height: 20vh;
    }

    .list_item_text::before {
        display:none;
    }

    #link {
        -webkit-text-stroke: 1px #fff;
    }

    #shadow_links_container {
        -webkit-text-stroke: 1px #fff;
    }

    #link_container {
        margin-top: .1em;
        font-size:2.6em;
    }

    
	.line:nth-of-type(1) {
		left:16.666vw;
	}
	
	.line:nth-of-type(2) {
		left:33.33333vw;
	}
	
	.line:nth-of-type(3) {
		left:50vw;
	}
	
	.line:nth-of-type(4) {
		left:66.666vw;
	}
	
	.line:nth-of-type(5) {
		left:83.333vw;
	}
	
	.line:nth-of-type(6) {
		left:60vw;
        display:none;
	}
	
	.line:nth-of-type(7) {
		left:70vw;
        display:none;
	}
	
	.line:nth-of-type(8) {
		left:80vw;
        display:none;
	}
	
	.line:nth-of-type(9) {
		left:90vw;
        display:none;
	}
    

}