@media (min-aspect-ratio: 19/9) {

	body {
		font-size: .8vw;
	}

	.divider {
		height: 40vh;
	}	

	#header_top {
		font-size: 18em;
	}

	.list_item_text::before {
		left: 17.5em;
		top: 6em;
		font-size: .1em;
		letter-spacing: 0;
	}
		
	.line:nth-of-type(1) {
		left:10vw;
	}
	
	.line:nth-of-type(2) {
		left:20vw;
	}
	
	.line:nth-of-type(3) {
		left:30vw;
	}
	
	.line:nth-of-type(4) {
		left:40vw;
	}
	
	.line:nth-of-type(5) {
		left:50vw;
	}
	
	.line:nth-of-type(6) {
		left:60vw;
	}
	
	.line:nth-of-type(7) {
		left:70vw;
	}
	
	.line:nth-of-type(8) {
		left:80vw;
        display:block;
	}
	
	.line:nth-of-type(9) {
		left:90vw;
        display:block;
	}
    

}