html, body {
 width:100vw;
 max-width:100vw;
 overscroll-behavior: none;
 -webkit-overflow-scrolling: touch;
 overflow: none;
}

body {
	font-size: 1vw;
	margin: 0;
	background-color:#222;
	color:#fff;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

main {
	position:fixed;
	width:100vw;
	max-width:100vw;
	overflow:hidden;
	top:0;
	left:0;
	z-index:10;
	padding: 20vh 0 10vh;
	position: relative;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	counter-reset: menucounter;
}

section {
    margin: auto;
    max-width: 90vw;
}

#header_top {
    margin-top: 15vh;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-family: 'font2';
    font-size: 17em;
}

#header_top span {
    display: block;
    line-height: .95em;
}

#header_top_1 {
    padding-right: 1.2em;
}
#header_top_2 {
    padding-left: .6em;
}

#header_tagline {
    width: 20em;
    margin: auto;
    padding: 14vh 0 8vh;
    font-style: italic;
    font-family: 'font1';
    line-height: 1.65em;
    font-size: 1.5em;
}


#list {
	margin:0 5vw;
}

.list_item_container {
	text-align:center;
}

.list_item_img {
	margin:auto;
	width:75vw;
	height:115vw;
	display:none;
	background-size:cover;
	background-position: center center;
	margin-top: 9em;
	border-radius:1.5em;
}

.mobile .list_item_img {
	display:block;
}

.list_item_container:nth-of-type(1) .list_item_img {
	background-image:url('../img/presidenti/P001.jpg');
	padding-top: 0;
}

.list_item_container:nth-of-type(2) .list_item_img {
	background-image:url('../img/presidenti/P002.jpg');
}

.list_item_container:nth-of-type(3) .list_item_img {
	background-image:url('../img/presidenti/P003.jpg');
}

.list_item_container:nth-of-type(4) .list_item_img {
	background-image:url('../img/presidenti/P004.jpg');
}

.list_item_container:nth-of-type(5) .list_item_img {
	background-image:url('../img/presidenti/P005.jpg');
}

.list_item_container:nth-of-type(6) .list_item_img {
	background-image:url('../img/presidenti/P006.jpg');
}

.list_item_container:nth-of-type(7) .list_item_img {
	background-image:url('../img/presidenti/P007.jpg');
}

.list_item_container:nth-of-type(8) .list_item_img {
	background-image:url('../img/presidenti/P008.jpg');
}

.list_item_container:nth-of-type(9) .list_item_img {
	background-image:url('../img/presidenti/P009.jpg');
}

.list_item_container:nth-of-type(10) .list_item_img {
	background-image:url('../img/presidenti/P010.jpg');
}

.list_item_container:nth-of-type(11) .list_item_img {
	background-image:url('../img/presidenti/P011.jpg');
}

.list_item_container:nth-of-type(12) .list_item_img {
	background-image:url('../img/presidenti/P012.jpg');
}


.list_item {
    flex: none;
    display: inline-flex;
    justify-content: center;
    position: relative;
	letter-spacing: -.1em;
}




.cognome {
	font-family: 'font2';
}

.list_item_text {
	position: relative;
	cursor: default;
	display: block;
	overflow: hidden;
	font-size: 5.5em;
	transition: opacity .5s ease, transform .5s ease;
	padding: 0.6em 2em;
	font-family: 'font1';
	display: block;
	white-space: nowrap;
}


.list_item_text::before {
    counter-increment: menucounter;
    content: counters(menucounter, ".", decimal-leading-zero);
    position: absolute;
    left: 12em;
    top: 4.5em;
    transition: transform 0.3s, opacity 0.3s;
    font-size: .135em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: .03em;
}

.touch {
	touch-action: unset;
	pointer-events:none;
}



.list_item_container:hover .list_item_text {
	opacity:.3;
	transform:translateX(1em);
}

.hover-reveal {
	position: absolute;
	z-index: -1;
	width: 32.5vh;
	height:50vh;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	will-change: transform, filter;
}

.hover-reveal__inner {
	overflow: hidden;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}

.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
}


#lines {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index:5;
}


.line {
    position: fixed;
    width: 1px;
    height: 100vh;
    top: 0;
    background: hsl(0deg 0% 100% / 4%);
}

.divider {
    width: 2px;
    height: 35vh;
    background: #fff;
    margin: 10vh auto;
}


/* Credits */
#credits {
    margin: auto;
    padding-top: 25vh;
    letter-spacing: .1em;
}

#credits span {
    font-size: .86em;
}


/* scroll */
html.has-scroll-smooth {
	overflow: hidden; 
}
  
html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
  
.has-scroll-smooth body {
	overflow: hidden; 
}
  
.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh; 
}
  



.line:nth-of-type(1) {
	left:12.5vw;
}

.line:nth-of-type(2) {
	left:25vw;
}

.line:nth-of-type(3) {
	left:37.5vw;
}

.line:nth-of-type(4) {
	left:50vw;
}

.line:nth-of-type(5) {
	left:62.5vw;
}

.line:nth-of-type(6) {
	left:75vw;
}

.line:nth-of-type(7) {
	left:87.5vw;
}

.line:nth-of-type(8) {
	display:none;
}

.line:nth-of-type(9) {
	display:none;
}




#links {
    font-size: 6em;
    font-family: 'font1';
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	max-width:100vw;
	overflow:hidden;
}

#link_container {
    position: relative;
    font-family: 'font2';
    white-space: nowrap;
    font-size: 2.26em;
}

#link {
	cursor: pointer;
	  position: relative;
	  -webkit-text-fill-color: transparent;
	  -webkit-text-stroke: 2px #fff;
	  color: transparent;
	  transition: opacity 0.4s;
}
  
#link::before {

	  position: absolute;
	  bottom: 60%;
	  left: 0;
	  pointer-events: none;
}
  
#link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

#shadow_links_container {
	-webkit-text-fill-color: #ffffff17;
	-webkit-text-stroke: 2px #fff;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	font-style: italic;
}

#shadow_links_inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: shadow_links_anim 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
	
}

#link:hover ~ #shadow_links_container #shadow_links_inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

#shadow_links_inner span {
	padding:0 .3em;
}

@keyframes shadow_links_anim {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}




